/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 
 *= require sessions
 *= require feeds
 *= require users
 *= require_self
 */


body {
  width: 100%;
  overflow-y: scroll;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a:hover,
button:hover {
  cursor: pointer;
}

table.form_layout {
  width: 50%;
  margin: 0 25%;
}

table.form_layout td.field_label {
  width: 15%;
  padding-right: 5%;
}

table.form_layout td.field_input {
  width: 85%;
}

td.field_input input {
  display: inline-block;
  width: 100%;
}

input[type="submit"] {
  padding: 0 1em;
}

.v_hidden {
  visibility: hidden;
}

.no_display {
  display: none;
}

.no_pad {
  padding: 0;
}

.no_margin {
  margin: 0;
}

.no_left_pad {
  padding-left: 0px;
}

.no_right_pad {
  padding-right: 0px;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

a {
  color: #333333;
}

a:hover {
  color: #428BCA;
}

hr {
  border-color: #CCCCCC;
}

.link_like {
  color: #428bca
}

.link_like:hover {
  text-decoration: underline;
}

.glyphicon {
  color: #AAAAAA;
  font-size: 1.2em;
}

.glyphicon:hover {
  color: #428BCA;
}

#menu_content .col-md-6 {
  padding: 0 8%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.ta_left {
  text-align: left;
}

.ta_center {
  text-align: center;
}

.ta_right {
  text-align: right;
}

.glyph_box {
  width: 26px;
  margin: 0 auto;
}

.icon_bar_outer {
  position: relative;
  top: 1px;
  display: inline-block;
  height: 0.75em;
}

.icon-bar {
  display: block;
  background-color: #AAAAAA;
  width: 22px;
  height: 2px;
  margin: 2px;
  border-radius: 1px;
}

.icon_bar_outer:hover .icon-bar {
  background-color: #428BCA;
}