/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require sessions
 *= require feeds
 *= require_self
 */


body {
  background: url("glassy-orange-pattern.jpg") repeat fixed;
  width: 100%;
  overflow-y: scroll;
}

a {
  color: #333333;
}

a:hover {
  color: #428BCA;
}

hr {
  border-color: #CCCCCC;
}

.japanese {
  letter-spacing: 0.07em;
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN";
}

.japanese h3 {
  color: #046399;
  line-height: 1.5em;
}

.japanese p {
  font-size: 140%;
  color: #444444;
  line-height: 1.75em;
}

.link_like {
  color: #428bca
}

.link_like:hover {
  text-decoration: underline;
}

.remove_left_pad {
  padding-left: 0px;
}

.remove_right_pad {
  padding-right: 0px;
}

.smaller {
  font-size: 0.75em;
}

.glyphicon {
  color: #AAAAAA;
  font-size: 1.2em;
}

.glyphicon:hover {
  color: #428BCA;
}

.icon_bar_outer {
  position: relative;
  top: 1px;
  display: inline-block;
  height: 0.75em;
}
.icon-bar {
  display: block;
  background-color: #AAAAAA;
  width: 22px;
  height: 2px;
  margin: 2px;
  border-radius: 1px;
}

.icon_bar_outer:hover .icon-bar {
  background-color: #428BCA;
}