/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require sessions
 *= require feeds
 *= require_self
 */


body {
  width: 100%;
  overflow-y: scroll;
  font-size: 16px;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  color: #333333;
}

a:hover {
  color: #428BCA;
}

#nav_area {
  position: fixed;
  max-width: none;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index:500
}

hr {
  border-color: #CCCCCC;
}

.link_like {
  color: #428bca
}

.link_like:hover {
  text-decoration: underline;
}

.no_left_pad {
  padding-left: 0px;
}

.no_right_pad {
  padding-right: 0px;
}

.smaller {
  font-size: 0.75em;
}

.glyphicon {
  color: #AAAAAA;
  font-size: 1.2em;
}

.glyphicon:hover {
  color: #428BCA;
}

.icon_bar_outer {
  position: relative;
  top: 1px;
  display: inline-block;
  height: 0.75em;
}
.icon-bar {
  display: block;
  background-color: #AAAAAA;
  width: 22px;
  height: 2px;
  margin: 2px;
  border-radius: 1px;
}

.icon_bar_outer:hover .icon-bar {
  background-color: #428BCA;
}

.hide {
  visibility: hidden;
}

.row {
  margin-bottom: 0.3em;
}

table.form_layout {
  width: 80%;
  margin: 0 10%;
}

table.form_layout td.field_label {
  width: 15%;
  padding-right: 5%;
}

td.field_label {
  width: 15%;
  padding-right: 5%;
}

td.field_input {
  width: 85%;
}

td.field_input input {
  display: inline-block;
  width: 100%;
}

input[type="submit"] {
  padding: 0 1em;
}