body {
  letter-spacing: 0.07em;
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN";
}

h3 {
  color: #046399;
  line-height: 1.5em;
}

p {
  font-size: 140%;
  color: #444444;
  line-height: 1.75em;
}