// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu_header,
#menu_content {
  position: fixed;
  left: 17%;
  width: 66%;
  z-index: 100;
}

#menu_header {
  top: 0;
  height: 2.3em;
  line-height: 2.3em;
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
  opacity: 0.8;
}

#menu_content {
  top: 2.3em;
}

#overlay {
  position: fixed;
  top: 2.3em;
  left: 17%;
  width: 66%;
  height: 100%;
  opacity: 0.5;
  moz-opacity: 0.5;
}

.side_panel {
  position: fixed;
  top: 0;
  width: 17%;
  height: 100%;
  padding-top: 2em;
  box-shadow: inset -10px 0px 20px -10px #000;
}

.side_panel.left {
  box-shadow: inset -10px 0px 20px -10px #000;
}

.side_panel.right {
  box-shadow: inset 10px 0px 20px -10px #000;
}

#menu_content {
  
  .side_panel {
    position: absolute;
    top: 0;
    width: 6%;
    height: 100%;
  }

  .row_top {
    height: 220px;
    margin: 0 10%;
  }

  .row_inner {
    height: 60px;
    margin: 0 10%;
  }

  .row_bottom {
    position: relative;
    border-bottom: 1px solid #CCCCCC;
  }

  .slide_arrow {
    position: absolute;
    bottom: 0;
  }

  .panel {
    display: block;
    width: 100%;
    height: 220px;
/*    border: none;
    box-shadow: none;
    webkit-box-shadow: none;
    background-color: transparent;*/
  }

  .panel.no_display {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100%;
  }

  a#login_goog {
    margin: 10px 0;
    height: 40px;
    width: 107px;
    background: image-url("login/google.png");
  }

  a#login_fb {
    height: 60px;
    width: 60px;
    background: image-url("login/fb.png");
  }

  a#login_twit {
    height: 60px;
    width: 73.5px;
    background: image-url("login/twit.png");
  }

  a#login_goog,
  a#login_fb,
  a#login_twit {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
  }

}
// end of #menu_content

#page_content {
  display: block;
  position: absolute;
  top: 0;
  left: 17%;
  width: 66%;
}

#nav_area h4 {
  padding: 1em 0;
  font-weight: normal;
}

.login_opt {
  margin-top: 15px;
  height: 80px;
  width: 33%;
  display: inline-block;
  text-align: center;
}

#menu .container {
  width: 200%;
  padding: 0;
  max-width: none;
}

#nav_area {
  position: fixed;
  max-width: none;
  width: 100%;
  z-index:500;
}


