// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photobox {
  //width: 80%;
  margin: 0 10%;
  padding: 5%;
  //margin: 0 auto;
  position: relative;
}
.photobox img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.shelf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}